:root {
  // Font Size Steps
  --font-size-h1: 40px;
  --font-size-h2: 36px;
  --font-size-h3: 32px;
  --font-size-h4: 28px;
  --font-size-h5: 24px;
  --font-size-h6: 20px;
  --font-size-subtitle: 18px;
  --font-size-paragraph: 16px;
  --font-size-small: 14px;

  // Heading Font Configuration
  --font-heading-weight: 500;
  --font-heading-line-height: 1.3;
  --font-heading-letter-spacing: 0;
  --font-heading: 'Lora', serif;

  // Body Font Configuration
  --font-body-weight: 300;
  --font-body-line-height: 1.75;
  --font-body-letter-spacing: 0;
  --font-body: 'Raleway', sans-serif;

  // Monospace Font Configuration
  --font-monospace-weight: 400;
  --font-monospace-line-height: 1.5;
  --font-monospace-letter-spacing: 2px;
  --font-monospace: 'JetBrains Mono', monospace;
}
