:root {
  --spacing-zero: 0;
  --spacing-single: 1px;
  --spacing-double: 2px;

  --spacing-small-1x: 4px;
  --spacing-small-2x: 8px;
  --spacing-small-3x: 12px;

  --spacing-standard-1x: 16px;
  --spacing-standard-2x: 20px;
  --spacing-standard-3x: 24px;

  --spacing-medium-1x: 28px;
  --spacing-medium-2x: 32px;
  --spacing-medium-3x: 36px;

  --spacing-large-1x: 40px;
  --spacing-large-2x: 48px;
  --spacing-large-3x: 56px;

  --spacing-max: 64px;
}
